* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}
a { 
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: white;
}
header {
  width: 100%;
  height: 100px;
}
header nav {
  display: flex;
  justify-content: end;
}
header nav .nav-right-section {
  width: 500px;
  height: 150px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 90px 8%;
}
nav .nav-right-section a {
  margin-right: 25px;
  color:  #5c4668; 
  font-size: 20px;
}
nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
/* nav .nav-right-section img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
} */



/* Grid CSS */

.hero-banner {
  margin: 0px 5%;
  min-height: 500px;
  height: 90vh;
  background-color: #c7827de3 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 15px;
} 
h1 {
  color: white;
  font-size: 90px;
  font-weight: 250;
}
h2 {
  color: white;
  font-size: 50px;
  font-weight: 250;
}
/* Category Grid CSS */
.subHeading {
  text-align: center;
  width: 300px;
  margin: 50px auto;
}
.subHeading h3 {
  color: #5c4668;
}
/* #categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "code-refactor code-refactor code-refactor"
  "furniture-store bedroom patio"
  "couches couches patio"
  ;
} */

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 700px 400px 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "furniture-store furniture-store furniture-store"
  "code-refactor code-refactor equilibrium"
  "code-refactor code-refactor equilibrium"
  ;
}


#furniture-store {
  grid-area: furniture-store;
  background-image: url("../images/furniture-project.png");

}
#code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/01-html-css-git-challenge-demo.png");
}

/* #couches {
  grid-area: couches;
  background-image: url("../images/couch@2x.png");
} */

#equilibrium {
  grid-area: equilibrium;
  background-image: url("../images/equilibrium.png");
}

/* #code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/01-html-css-git-challenge-demo.png");
} */

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/* .heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
} */


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
/* Typography CSS */



h3 {
  font-size: 40px;
  font-weight: 300;
  margin: 0px 0px;
}

/* h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
} */


/* #headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
} */

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"
    ;
  }
}
