* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}
a { 
  text-decoration: none;
  cursor: pointer;
  color:  #5c4668; 
  font-size: 20px;
  margin-right: 25px;
}
a:hover {
  text-decoration: underline;
  color: white;
}
header {
  width: 100%;
  height: 50px;
}
header nav {
  display: flex;
  justify-content: end;
}
header nav .nav-right-section {
  width: 500px;
  height: 150px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0px 5%; 
  padding-top: 60px;
}

.hero-banner {
  margin: 0px 5%;
  min-height: 500px;
  height: 90vh;
  background-color: #c7827de3 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 15px;
} 
.hero-banner h1 {
  color: white;
  font-size: 90px;
  font-weight: 250;
}
.hero-banner h2 {
  color: white;
  font-size: 50px;
  font-weight: 250;
}

.subHeading {
  text-align: center;
  width: 300px;
  margin: 50px auto;
}

.subHeading h3 {
  color: #5c4668;
  font-size: 40px;
  font-weight: 300;
  margin: 0px 0px;
  color: #5c4668;
}
/* Grid CSS */
#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 800px 500px 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "furniture-store furniture-store furniture-store"
  "code-refactor code-refactor equilibrium"
  "code-refactor code-refactor equilibrium"
  ;
}

#furniture-store {
  grid-area: furniture-store;
  background-image: url("../images/furniture1.png");

}
#code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/01-html-css-git-challenge-demo.png");
}

#equilibrium {
  grid-area: equilibrium;
  background-image: url("../images/equilibrium.png");
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px; 
  cursor: pointer;
  display: grid;
  align-content: end;
  border-radius: 15px;
}
.heading {
  background-color: rgb(255, 255, 255,0.6);
  padding: 20px 30px 30px 30px;
  height: 25px;
  color: #343a40d6;
  font-size: 26px;
}

#about {
  margin: 0px 5%;
  background-color: rgba(199, 130, 125, 0.2); 
  border-radius: 15px;
  display: grid;
  grid-template-rows: 85vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "about-me-image"
  ;
}

#about-me-image {
  grid-area: about-me-image;
  background-image: url("../images/andrew-neel-ute2XAFQU2I-unsplash.jpg");
}

.aboutGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border-radius: 10px;
}
#about-me-text {
  margin-top: 160px;
  color:#868e96;
  margin-right: 50px;
} 
#about-me-text h2, h3 {
  color: #343a40d6;
}
 
.spacing-content {
  margin-top: 40px;
  
}
#skills-list {
  list-style: none;
}
#footer a {
  margin-right: 80px;
  margin-left: 50px;
} 
.bottom-container {
  height: 100px;
  background-color: #c7827de3;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
.hero-banner h1 {
  font-size: 60px;
}  
.hero-banner h2 {
  font-size: 40px;
}
a {
  font-size: 16px;
}
header nav .nav-right-section {
  margin: 0px -4%
}
}

@media only screen and (max-width: 600px) {
.hero-banner h1 {
  font-size: 40px;
}  
.hero-banner h2 {
  font-size: 20px;
}
a {
  font-size: 12px;
}
header nav .nav-right-section {
  margin: 0px -20%
}
 
#workGrid {
  grid-template-rows: 80vh 80vh 80vh;
  grid-template-columns: 1fr;    grid-template-areas:
    "furniture-store"
    "code-refactor"
    "equilibrium"
      ;
}
.subHeading h3 {
  font-size: 26px;
  font-weight: 400;
}
#about {
  grid-template-rows: 40vh 40vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "about-me-image"
    "about-me-text"
}
#about-me-text p {
  display: none;
}
#about-me-text {
  margin-top: 10px;
  margin-left: 40px;
} 
#about-me-text h3 {
  color: #868e96;
  font-size: 16px;
}
.spacing-content {
  margin-top: 40px;
}
#workflow {
  display: none;
}
}
